<AuthorizeView Policy="Admin">
    <a class="login-link" href="/AprobacionAdmin">
        Admin    
    </a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a class="login-link" href="/Perfil">
            Perfíl
        </a>
        <a class="login-link" href="MicrosoftIdentity/Account/SignOut">
            Cerrar sesión
        </a>
    </Authorized>
    <NotAuthorized>
        <a class="login-link" href="MicrosoftIdentity/Account/SignIn">
            Iniciar sesión
        </a>
    </NotAuthorized>
</AuthorizeView>